
<table class="tx-nerdshop" >
	<tr>
		<td>
			<f:translate key="tx_nerdshop_domain_model_product.title" />
		</td>
		<td>
		{product.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_nerdshop_domain_model_product.description" />
		</td>
		<td>
		{product.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_nerdshop_domain_model_product.image" />
		</td>
		<td>
				<f:image src="{product.image.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_nerdshop_domain_model_product.price" />
		</td>
		<td>
		{product.price}
		</td>
	</tr>
</table>