.tx-indexedsearch-icon img {
    max-width: none;
}

.tx-indexedsearch-info {
    font-size: 80%;
    color: #aaa;
}

ul.browsebox {
    list-style: none;
    margin: 0 0 1em 0;
    overflow: hidden;
}

.browsebox li { float: left;}

.browsebox li a {
    display: block;
    padding: 2px 5px;
    border: 1px solid #ccc;
    margin: 0 1em 0 0;
    text-decoration: none;
}

.browsebox li a:focus,
.browsebox li a:hover,
.browsebox li a:active {
    background:#f8f8f8;
}

.tx-indexedsearch-search-table { width:auto;}
.tx-indexedsearch-search-table td {padding:.5em 1em .5em 0;}

.tx-indexedsearch-redMarkup { color: #f00; }