<f:layout name="DefaultLayout"/>

<f:section name="header">
	<header class="topheader">
		<f:cObject typoscriptObjectPath="lib.header"/>
	</header>
</f:section>

<f:section name="content">
	<div class="navbar navbar-default">
		<div class="container">
			<f:render partial="HorizontalMenu"/>
		</div>
	</div>
    <f:render partial="rootline"/>
	<!-- Begin page content -->
	<div class="content container">
        <!--TYPO3SEARCH_begin-->
        <f:format.raw>{content1}</f:format.raw>
		<div class="row">
			<f:format.raw>{content10}</f:format.raw>
			<f:format.raw>{content11}</f:format.raw>
			<f:format.raw>{content12}</f:format.raw>
		</div>
        <!--TYPO3SEARCH_end-->
    </div>
</f:section>